:root {
    --sidenav-width: 60px;
    --sidenav-width-expand: 300px;
    --inner-sidenav-width: 200px;
}

.sidenav-base {
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    overflow-x: hidden;

    
    .nav-link {
        font-size: 1.2rem;
    
        &:hover, &.active {
            background: $primary;
            color: var(--font-color-secondary);
        }
    }
}

.sidenav {
    @extend .sidenav-base;

    width: var(--sidenav-width);

    &.expand {
        width: var(--sidenav-width-expand);            // This is the sidebar's width. The page's content should be offset horizontally by this size.
    }

    .logo {
        font-size: 3rem;
    }

    svg {
        font-size: 1.8rem;
    }
}

.workspace {
    margin-left: var(--sidenav-width); 

    &.expand {
        margin-left: var(--sidenav-width-expand);      // Offsets the content horizontally by the width of the sidebar.
    }
}

.inner-sidenav {
    @extend .sidenav-base;
    width: var(--inner-sidenav-width);

    position: fixed;

    .nav-link {
        font-size: 0.9rem;
    }
}

.inner-workspace {
    margin-left: var(--inner-sidenav-width);      // Offsets the content horizontally by the width of the sidebar.
}

.profile-picture {
    border-radius: 100%;
    max-width: 40px;
    border: 1px solid white;

    cursor: pointer;
}