@import '_custom';
@import '_reset';
@import '_config';

:root {
    --sidenav-width: 300px;
    --inner-sidenav-width: 200px;
}

.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 70%);
}

.logo {
    font-family: 'Megrim';

    &-red {
        color: $red;
    }
    
    &-green {
        color: $green;
    }

    &-blue {
        color: $blue;
    }

    &-md {
        font-size: 3.5rem;

        .capital {
            font-size: 4rem;
        }
    }

    &-lg {
        font-size: 5.5rem;

        .capital {
            font-size: 6.5rem;
        }
    }
}

.sidenav-base {
    height: 100%;
    position: fixed;
    // top: 0;
    // left: 0;
    z-index: 1;
    display: flex;
    overflow-x: hidden;

    
    .nav-link {
        font-size: 1.2rem;
    
        &:hover, &.active {
            background: $primary;
            color: var(--font-color-secondary);
        }
    }
}

.sidenav {
    @extend .sidenav-base;
    width: var(--sidenav-width);            // This is the sidebar's width. The page's content should be offset horizontally by this size.

    .logo {
        font-size: 3rem;
    }

    svg {
        font-size: 1.8rem;
    }
}

.workspace {
    margin-left: var(--sidenav-width);      // Offsets the content horizontally by the width of the sidebar.
}

.inner-sidenav {
    @extend .sidenav-base;
    width: var(--inner-sidenav-width);

    position: fixed;

    .nav-link {
        font-size: 0.9rem;
    }
}

.inner-workspace {
    margin-left: var(--inner-sidenav-width);      // Offsets the content horizontally by the width of the sidebar.
}

.emphasized {
    color: var(--font-color-secondary);
}

.text-sm {
    font-size: 0.8rem;
}

.border-2 {
    border: 2px solid;
}

.hover-bg-dark {
    transition: all 0.3s ease;
    
    &:hover {
        background: $light;
        color: black;
    }
}

.container-fluid {
    svg {
        font-size: 1.8rem;

        &.icon-sm {
            font-size: 0.8rem;
        }

        &.icon-md {
            font-size: 1rem;
        }

        &.icon-xl {
            font-size: 6rem;
        }
    }

    &.full-height {
        height: 100vh;
    }
}

.border-gray {
    border-color: rgba($gray, 1.0) !important;
    color: $gray;
}

.border-blue {
    border-color: rgba($blue, 1.0) !important;
    color: $blue;
}

.border-red {
    border-color: rgba($red, 1.0) !important;
    color: $red;
}

.border-green {
    border-color: rgba($green, 1.0) !important;
    color: $green;
}

@mixin customBtn($bg-color) {
    background-color: rgba($bg-color, 0.8);
    color: $white;

    &:hover {
        background-color: rgba($bg-color, 1.0);
    }
}

.btn-blue {
    @include customBtn($blue);
}

.btn-red {
    @include customBtn($red);
}

.btn-green {
    @include customBtn($green);
}

.cursor-pointer{
    cursor: pointer;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}