.logo {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    
    &.expand {
        display: block;
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 1.8rem;

        &.expand {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 320px) {
    .logo {
        flex-direction: row;
        justify-content: center;
        font-size: 1.2rem;

        &.expand {
            font-size: 1.8rem;
        }
    }
}