@import 'variables';
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');


$btn-warning-color:red !default;

$modal-content-bg: $primary !default;
$modal-header-border-color: $light !default;

$input-border-radius: 3px !default;

$close-color: #F7F7F2 !default;

// $font-family-sans-serif: "Raleway", sans-serif !default;
$font-family-base: 'PT Sans', sans-serif !default;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';