// Override default variables before the import
$primary: #2D2D2A;
$secondary: #312F2F;
$dark: #565656;
$light: #c4c4c4;

$gray: #C4C4C4;
$blue: #4392F1;
$red: #F03A47;
$green: #35FF69;
$yellow: #fed766;
$white: #F7F7F2;
$warning: $yellow;
$info: $blue;